{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palavra</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<nav class="navbar">

    <a href="{% url 'words:home' %}">
        Palavras
    </a>

    <a href="{% url 'words:categories' %}">
        Categorias
    </a>

    <a href="{% url 'words:languages' %}">
        Línguas
    </a>

</nav>

    <div class="container">

        <div class="card">

            <h1>Cadastrar / Editar Palavra</h1>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">
                    Salvar
                </button>

            </form>

            <br>

            <a href="{% url 'words:home' %}">
                Voltar
            </a>

        </div>

    </div>

</body>

</html>