{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Língua</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="container">

    <div class="card">

        <h1>Nova Língua</h1>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">
                Salvar
            </button>

            <a href="{% url 'words:languages' %}" class="btn">
                Cancelar
            </a>

        </form>

    </div>

</div>

</body>

</html>