{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Línguas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icone.ico' %}">
</head>

<body>

<nav class="navbar">
    <div class="nav-itens">
        <a
            href="{% url 'words:home' %}"
            class="{% if request.path == '/' %}active{% endif %}"
        >
            Palavras
        </a>
    
        <a
            href="{% url 'words:categories' %}"
            class="{% if '/categories/' in request.path %}active{% endif %}"
        >
            Categorias
        </a>
    
        <a
            href="{% url 'words:languages' %}"
            class="{% if '/languages/' in request.path %}active{% endif %}"
        >
            Línguas
        </a>
    </div>
    <div class="user-status">
        {% if user.is_authenticated %}
            {{ user.username }}
        {% else %}
            <a href="{% url 'login' %}">
                Entrar
            </a>
        {% endif %}
    </div>
</nav>

<div class="container">

    <div class="header">

        <h1>Línguas</h1>

        <a
            href="{% url 'words:language_create' %}"
            class="btn btn-primary"
        >
            + Nova Língua
        </a>

    </div>

<div class="card">
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sigla</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for language in languages %}
                <tr>
                    <td>{{ language.name }}</td>
                    <td>{{ language.sigle }}</td>
                    <td class="actions">
                        <a href="{% url 'words:language_delete' language.id %}" class="btn btn-delete">
                            Excluir
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Nenhuma língua cadastrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</div>

</body>
</html>