{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Categoria</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icone.ico' %}">
</head>

<body>

<div class="container">

    <div class="card">

        <h1>Excluir Categoria</h1>

        <p>
            Tem certeza que deseja excluir a categoria
            <strong>{{ category.name }}</strong>?
        </p>

        <form method="POST">
            <div class="question">
                {% csrf_token %}
    
                <button type="submit" class="btn btn-delete">
                    Excluir
                </button>
    
                <a href="{% url 'words:categories' %}" class="btn btn-primary">
                    Cancelar
                </a>
            </div>

        </form>

    </div>

</div>

</body>

</html>